div.advantage
    div.icon
        img(src="images/advantage.svg")
    div.description
        strong Более 10 лет опыта
        span Мы работаем с профессиональной командой, готовой к различным вызовам
div.advantage
    div.icon
        img(src="images/advantage.svg")
    div.description
        strong Поддержка клиентов
        span Поможем вам решить все возникающие вопросы в процессе работы с нами
div.advantage
    div.icon
        img(src="images/advantage.svg")
    div.description
        strong Ответственность
        span Всегда укладываемся в сроки и поставляем только проверенную продукцию