div.menu(data-sticky="true")
    strong.title Каталог
    ul
        li: a(href="category.html") IGBT модули
        li: a(href="category.html") Тиристорные и диодные модули
        li: a(href="category.html") Тиристоры
        li: a(href="category.html") Диоды
        li: a(href="category.html") Охладители
        li: a(href="category.html") Силовые сборки
        li: a(href="category.html") Драйверы
        li: a(href="category.html") Измерительное оборудование
