div.menu(data-sticky="true")
    strong.title О компании
    ul
        li: a(href="about.html") О компании
        li: a(href="news.html") Новости
        li: a(href="contacts.html") Контакты
        li: a(href="page.html") Пользовательское соглашение
        li: a(href="page.html") Политика конфиденциальности
        li: a(href="page.html") Сведения об авторстве