div.logotype
    a.logo(href="index.html")
        include ../../images/logotype.svg
    p
        span Официальный представитель
        a(href="https://proton-electrotex.com/", target="_blank") Протон-Электротекс