<div modal="callback">
    <div class="content">
        include ../../images/cross.svg
        <h2>Заказать звонок</h2>
        <p>В соответствии с законом Ципфа, сегмент рынка обуславливает коллективный маркетинг. Позиционирование на рынке, следовательно, слабо изменяет культурный.</p>
        <form action="">
            <div class="input required">
                <label for="">Телефон</label>
                <input type="text" placeholder="8 (___) ___-__-__" required>
            </div>
            <div class="input required">
                <label for="">Как к вам обращаться</label>
                <input type="text" placeholder="Как к вам обращаться" required>
            </div>
            <button type="submit">Отправить</button>
            <span class="policy">Нажимая кнопку, я даю свое согласие на обработку моих персональных данных в соответствии с законом №152-ФЗ «О персональных данных» от 27.07.2006 и принимая условия <a href="page.html" target="_blank">пользовательского соглашения</a></span>
        </form>
    </div>
</div>