<div modal="menu">
    <div class="content">
        include ../../images/cross.svg

        <div class="contacts">
            include ../elements/_logotype.pug
            include ../elements/_phone.pug
            include ../elements/_adress.pug
        </div>
        
        include ../elements/_catalog_menu.pug
        include ../elements/_consumer_menu.pug
        
    </div>
</div>