<div modal="order">
    <div class="content">
        include ../../images/cross.svg
        <div class="image">
            <img src="images/category.webp" alt="">
        </div>
        <div class="form">
            <h2>Форма заказа <span></span></h2>
            <p>В соответствии с законом Ципфа, сегмент рынка обуславливает коллективный маркетинг. Позиционирование на рынке, следовательно, слабо изменяет культурный.</p>
            <form class="callback" action="">
                <div class="input required">
                    <label for="">Название компании</label>
                    <input type="text" placeholder="Введите название компании" required>
                </div>
                <div class="input required">
                    <label for="">Телефон</label>
                    <input type="text" placeholder="8 (___) ___-__-__" required>
                </div>
                <div class="input required">
                    <label for="">E-mail</label>
                    <input type="text" placeholder="Введите ваш E-mail" required>
                </div>
                <input type="hidden" name="product" value="No product">
                <div class="submit">
                    <button type="submit">Отправить</button>
                    <span class="policy">Нажимая кнопку, я даю свое согласие на обработку моих персональных данных в соответствии с законом №152-ФЗ «О персональных данных» от 27.07.2006 и принимая условия <a href="page.html" target="_blank">пользовательского соглашения</a></span>
                </div>
            </form>
        </div>
    </div>
</div>