<div modal="search">
    <div class="content">
        include ../../images/cross.svg
        <form action="category.html">
            <input type="text" placeholder="Введите что вы хотите найти">
            <input type="submit" value="">
        </form>
        <div class="search_products">
            -for( i = 1; i <= 10; i++ )
                <div class="search_product">
                    <strong class="title">Тиристор T175-31</strong>
                    <strong class="price">8 990 Р</strong>
                    <a class="buy" target-modal="order" data-title="Тиристор T175-31" data-image="images/category.webp">купить в 1 клик</a>
                </div>
        </div>
    </div>
</div>