extends common/_layout.pug

block content

    section
        div.content
            div.side
                include elements/_consumer_menu.pug
                div.banner
            div.page
                div.breadcrumbs
                    a(href="index.html") Главная
                    span Принципы и условия обработки персональных данных
                h1 Принципы и условия обработки персональных данных
                strong Политика конфиденциальности сайта
                p Настоящая Политика конфиденциальности персональной информации (далее — Политика) действует в отношении всей информации, которую Сайт может получить о пользователе во время использования им сайта. Согласие пользователя на предоставление персональной информации, данное им в соответствии с настоящей Политикой в рамках отношений с одним из лиц, распространяется на все лица.
                p Использование Сайта означает безоговорочное согласие пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации; в случае несогласия с этими условиями пользователь должен воздержаться от использования Сервисов.
                br
                strong 1. Персональная информация пользователей, которую получает и обрабатывает Сайт
                p 1.1. В рамках настоящей Политики под «персональной информацией пользователя» понимаются:
                    br
                    | 1.1.1. Персональная информация, которую пользователь предоставляет о себе самостоятельно заполнении форм обратной связи, включая персональные данные пользователя.
                    | Обязательная для предоставления Сервисов (оказания услуг) информация помечена специальным образом. Иная информация предоставляется пользователем на его усмотрение.
                    br
                    | 1.1.2 Данные, которые автоматически передаются в процессе их использования с помощью установленного на устройстве пользователя программного обеспечения, в том числе IP - адрес, информация из cookie, информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ к Сервисам), время доступа, адрес запрашиваемой страницы.
                    br
                    | 1.2. Настоящая Политика применима только к данному Сайту. Сайт не контролирует и не несет ответственность за сайты третьих лиц, на которые пользователь может перейти по ссылкам, доступным на сайте, в том числе в результатах поиска. На таких сайтах у пользователя может собираться или запрашиваться иная персональная информация, а также могут совершаться иные действия.
                    br
                    | 1.3. Сайт не проверяет достоверность персональной информации, предоставляемой пользователями, и не осуществляет контроль за их дееспособностью. Однако Сайт исходит из того, что пользователь предоставляет достоверную и достаточную персональную информацию по вопросам, предлагаемым в форме регистрации (и других форм на сайте), и поддерживает эту информацию в актуальном состоянии.
                br
                strong 2. Цели сбора и обработки персональной информации пользователей
                p 2.1. Сайт собирает и хранит только те персональные данные, которые необходимы для предоставления и оказания услуг (исполнения соглашений и договоров с пользователем).
                    br
                    | 2.2. Персональную информацию пользователя Сайт может использовать в следующих целях:
                    br
                    | 2.2.1. Идентификация стороны в рамках соглашений и договоров;
                    br
                    | 2.2.2. Предоставление пользователю персонализированных услуг;
                    br
                    | 2.2.3. Связь с пользователем, в том числе направление уведомлений, запросов и информации, касающихся использования Сервисов, оказания услуг, а также обработка запросов и заявок от пользователя;
                    br
                    | 2.2.4. Улучшение качества, удобства их использования, разработка услуг;
                    br
                    | 2.2.5. Таргетирование рекламных материалов;
                    br
                    | 2.2.6. Проведение статистических и иных исследований на основе обезличенных данных.
                br
                strong 3. Условия обработки персональной информации пользователя и её передачи третьим лицам
                p 3.1. Сайт хранит персональную информацию пользователей в соответствии с внутренними регламентами конкретных сервисов.
                    br
                    | 3.2. В отношении персональной информации пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления пользователем информации о себе для общего доступа неограниченному кругу лиц.
                    br
                    | При использовании отдельных Сервисов пользователь соглашается с тем, что определённая часть его персональной информации становится общедоступной.
                    br
                    | 3.3. Сайт вправе передать персональную информацию пользователя третьим лицам в следующих случаях:
                    br
                    | 3.3.1. Пользователь выразил свое согласие на такие действия;
                    br
                    | 3.3.2. Передача необходима в рамках использования пользователем определенного Сервиса, либо для оказания услуги пользователю;
                    br
                    | 3.3.3. Передача необходима в рамках информирования пользователя о новостях компании и новинках продукции с помощью тематических E-mail рассылок.
                    br
                    | 3.3.4. Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;
                    br
                    | 3.3.5. Такая передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при этом к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно к полученной им персональной информации;
                    br
                    | 3.3.6. В целях обеспечения возможности защиты прав и законных интересов или третьих лиц в случаях, когда пользователь нарушает Пользовательское соглашение сервисов Сайта.
                    br
                    | 3.4. При обработке персональных данных пользователей Сайт руководствуется Федеральным законом РФ «О персональных данных».

    include sections/_contacts.pug
    include sections/_map.pug