<div id="respond" class="comment-respond">
    <h3 id="reply-title" class="comment-reply-title">Добавить отзыв</h3>
    <form action="https://moook.ru/wordpress/tehnoprom/wp-comments-post.php" method="post" id="commentform" class="comment-form">
        <p class="comment-notes"><span id="email-notes">Ваш адрес email не будет опубликован.</span> <span class="required-field-message">Обязательные поля помечены <span class="required">*</span></span></p>
        <p class="comment-form-comment"><label for="comment">Отзыв о товаре <span class="required">*</span></label> <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea></p><p class="comment-form-author"><label for="author">Имя <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" maxlength="245" autocomplete="name" required="required"></p>
        <p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="text" value="" size="30" maxlength="100" aria-describedby="email-notes" autocomplete="email" required="required"></p>
        <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes"> <label for="wp-comment-cookies-consent">Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих комментариев.</label></p>
        <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Отправить отзыв"> <input type="hidden" name="comment_post_ID" value="3448" id="comment_post_ID">
        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
        </p>
    </form>	
</div>