<ol class="commentlist">

    <li class="comment even thread-even depth-1" id="comment-4">
        <div id="div-comment-4" class="comment-body">
            <div class="comment-author vcard">
                <cite class="fn">Кирилл</cite>
                <span class="says">:</span>
            </div>
            <div class="comment-meta commentmetadata">
                <a href="https://moook.ru/wordpress/tehnoprom/miaa-hb12fa-200n/#comment-4">27.07.2023 в 19:19</a>
            </div>

            <p>Купил этот модуль из-за проблем с сетью. Решил поменять все сразу, благо цена на него была небольшая. В принципе все работает. Пока не нашел ни одной проблемы. Все как заявлено. Есть только один минус — нет защиты от короткого замыкания. Но в моем случае это не проблема. Если вдруг что-то пойдет не так, то можно просто выключить нагрузку и включить модуль снова. Не вижу смысла в такой защите. А вот в целом я доволен покупкой. Цена, качество, надежность — все на высоте</p>
            
        </div>
    </li>

    <li class="comment byuser comment-author-moook bypostauthor odd alt thread-odd thread-alt depth-1" id="comment-5">
        <div id="div-comment-5" class="comment-body">
            <div class="comment-author vcard">
                <cite class="fn"><a href="https://moook.ru/wordpress" class="url" rel="ugc">moook</a></cite>
                <span class="says">:</span>
            </div>
    
            <div class="comment-meta commentmetadata">
                <a href="https://moook.ru/wordpress/tehnoprom/miaa-hb12fa-200n/#comment-5">21.11.2023 в 07:02</a>
            </div>

            <p>Все супер, доставили в целости</p>
    
        </div>
    </li>
</ol>