footer
    div.content
        div.info
            include ../elements/_logotype.pug
            span.description Являемся представителем одного из лидеров производства силовых полупроводниковых приборов - АО «Протон-Электротекс». Готовы обеспечить компании любой величины поставками современной и надежной продукции.
            div.contacts
                include ../elements/_phone.pug
                include ../elements/_adress.pug
        div.menus
            include ../elements/_catalog_menu.pug
            include ../elements/_consumer_menu.pug
        div.production
            span Разработано #[br]в агентстве
            a(href="https://upgarde.pro")
                img(src="images/upgrade.svg", alt="")
