header
    div.content
        include ../elements/_logotype.pug
        a.button(href="catalog.html") Каталог
        include ../elements/_adress.pug
        include ../elements/_phone.pug
        div.search(target-modal="search")
            include ../../images/search.svg
        div.menu(target-modal="menu")
            span Меню
            div.icon
                div
                div
                div
